@font-face {
font-family:"Montserrat" ;
src: url(/assets/Montserrat-VariableFont_wght.ttf);
}

*{
font-family: 'Montserrat', sans-serif;
margin: 0px;
box-sizing: border-box;
scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# Viewers Page
--------------------------------------------------------------*/

#datetime {
font-size: 15px;
font-weight: 600;
text-align: right;
margin-top: 10px;
}

.stream-container {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to top, #000000,#031533,#093b8b, #2e4d83, #1a5ac9);
    font-family: 'Arial', sans-serif;
    color: #fff; /* Set text color to white for better visibility */
    align-items: center;
}

.stream-container video {
width: 80%;
max-width: 1400px;
height: auto;
display: block;
margin: 0 auto;
}

.stream-info {
text-align : center; 
margin-top: 20px;
}

.prerecorded-stream-info {
    text-align: center;
    margin-top: 20px;
}

#strm-title{
    font-size: 2vw;

}
#strm-cm{
    font-size :1vw; 
}

#prerecorded-title {
    font-size: 2vw;

}

#prerecorded-cm {
    font-size: 1vw;
}

#videoElement {
    width: 750px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.stream-info {
    text-align: center;
    margin-top: 20px;


}

#strm-title {
    font-size: 2vw;

}

#strm-cm {
    font-size: 1vw;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
background-color: #4285F4;
color: white;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;
font-size: 14px;
width:100%;
}

.footer-icons {
display: flex;
margin-left: 40px;
}

.social-icon-container {
background-color: white;
padding: 15px;
border-radius: 5px;
margin-right: 15px;
}

.social-icon-container img {
width: 30px;
height: 30px;
}

.footer-text {
text-align: right;
}

@media all and (max-width: 960px) {
    body{
        display: flex;
        flex-direction: column;
    }
    .hdr-left_Container{
        grid-template-columns: 1fr ;
    }
    footer{
        width: 100%; 
        align-items:center;
        display: flex;
        flex-direction:column;
        gap: 10px;
        font-size: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}

  
  